
<div class="jumbotron">
  <h1>Hello World, my name is Victor</h1>
  <p><i class="fa fa-pencil-square-o"></i> This is a smart ToDo List</p>
  
<%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>


  
</div>


